@model WebAppTilausDB.Models.Postitoimipaikat


<h2>Tietoja</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Postitoimipaikka)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Postitoimipaikka)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Postinumero)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Postinumero)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Muokkaa", "Edit", new { id = Model.Postinumero }) |
    @Html.ActionLink("Takaisin", "Index")
</p>
